body {
    color: black;
    background-color: #ffffff;
}

text {
    font-size: 10px;
    text-align: center
}


#watermark {
    position: fixed;
    opacity: 1.0;

    bottom: -2cm;
    /*left: 3.5cm;

    width: 12cm;
    height: 12cm; */

    z-index: -1000;
}

.datos {
    width: 750px;
    margin-left: -90px;
    margin-top: 20px;
    padding: 0px;
    font-size: 11px;
}

.cabecera {
    background-color: rgba(21, 238, 17, 0.251);
    border-left: 6px solid rgba(50, 235, 17, 0.676);
    margin-bottom: 0px;
}

.nro_serie {
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 5px;
    width: 100px;
    height: 34px;
    float: right;
    text-align: right;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 15px;
}

.espacio_serie {
    padding-top: 23px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-style: bold;
    line-height: 0;
}

.titulo {
    width: 200px;
    padding-top: 30;
    text-align: center;
    font-size: 32px;
    font-style: bold;
    line-height: 0;
}

.fecha {
    width: 360px;
    float: right;
    font-size: 10px;
}

td.datos {
    width: 180px;
}

.espacio {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.informe {
    font-size: 12px;
    margin-left: 20px;
}

.supidc {
    vertical-align: super;
    /*superindice*/
}

.subidc {
    vertical-align: sub;
    /*subindice*/
}

.nivel {
    font-size: 16px;

    line-height: 0.7cm;
    height: 160px;
}


.justificado {
    text-align: justify;
}


@page {
    margin: 100px 15px 100px 70px;
}

header {
    position: fixed;
    left: 0px;
    top: -70px;
    right: 0px;
    height: 80px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: -80px;
    left: -20px;
    right: 0px;
    height: 60px;
    /* background-color: #03a8f486;
    color: white; */
    text-align: center;
    line-height: 1.2rem;
}